body{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    background-color: rgb(235, 233, 233);
    color: black;
    font-weight: bold;
}
hr{
    width: 100%;
    height: 3px;
    background-color: orange;
    border: none;
}
h1{
    margin-left: 150px;
    margin-top: -127px;
    margin-bottom: 0;
}
h3{
    margin-left: 130px;
}
h4{
    margin-left: 50px;
}
li{
    margin-left: 60px;
}
h5{
    margin-left: 70px;
}
h6{
    margin-left: 40px;
}


.container{
    margin: 20px;
}

.row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.con-01{
    background: white;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: auto;
   word-wrap: break-word; 
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}
img{
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fa-location-dot{
    margin-left: 150px;
    color: orange;
}

.fa-phone{
    margin-left: 150px;
    color: orange;
}
.fa-envelope{
    margin-left: 150px;
    margin-top: -70px;
    color: orange;
}
.fa-envelope:hover{
    color: white;
    cursor: pointer;
    transition: .3s ease;
}
.fa-phone:hover{
    color: white;
    cursor: pointer;
    transition: .3s ease;
}
.fa-location-dot:hover{
    color: white;
    cursor: pointer;
    transition: .3s ease;
}
.phnum{
    margin-top: -30px;
    margin-left: 170px;
}
.email{
    margin-top: -30px;
    margin-left: 170px;
}
.location{
    margin-top: -30px;
    margin-left: 170px;
}

.obj{
    margin-left: 130px;
    margin-right: 100px;
}




.con-02{
    background: white;
    position: relative;
    flex: 1;
    max-width: 470px;
    height: auto;
    word-wrap: break-word; 
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}


.con-03{
    background: white;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: auto;
    word-wrap: break-word; 
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}

.con-04{
    background: white;
    position: relative;
    flex: 1;
    max-width: 313.33px;
    height: auto;
    word-wrap: break-word; 
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}
.con-05{
    background: white;
    position: relative;
    flex: 1;
    max-width: 940px;
    height: auto;
    word-wrap: break-word; 
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
}


@media (max-width: 700px) {
    .con-01{
        flex: 100%;
        max-width: 600px;
        word-wrap: break-word; 
    }
    .con-02{
        flex: 100%;
        max-width: 600px;
        word-wrap: break-word; 
    }
    .con-03{
        flex: 100%;
        max-width: 600px;
        word-wrap: break-word; 
    }
    .con-04{
        flex: 100%;
        max-width: 600px;
        word-wrap: break-word; 
    }
    
}
